# MongoDB
MONGODB_URI=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Auth.js
AUTH_SECRET=
NEXTAUTH_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=

# App
NEXT_PUBLIC_APP_URL=
